.LoginInput{
    width:60%;
    height: 20%;
    border: 0;
    padding: 5px 0;
    border-bottom: 1px solid gray;
    transition: 1s;
}

.LoginInput:focus{
    outline: none;
    border-bottom: 2px solid #4caf50;
    transition: 1s;
}
.text-field_icon_email input[type=text]{
    padding-left: 5px;
}

.text-field_icon_email{
    position: relative;
    padding-top: 10px;

}
.text-field_icon_email img{
    position: absolute;
    left: 35px;
    top: 4px;
}

.MailPicture{
    width: 7%;
    content: url("Email_icon.svg");
}

.Error{
    color: red;
}