.ForgotPassword{
    width: 150%;

}
.ForgotPasswordButton{

    padding-top: 8px;
    color:blue;
    font-size: 90%;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;

    border:0;

    background-color: white;

}
.ForgotPasswordButton:hover{

    font-weight: 500;

    color:green;
    transition: 0.3s;
    cursor: pointer;
}

